{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Marionette.js</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/application.css' %}" rel="stylesheet">
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<span class="brand">Event Devcode</span>
				</div>
			</div>
		</header>

<!-- 		<div id="main-region">

		</div> -->

		<div id="main-region">

		</div>

		<script type="text/template" id="event-register-layout">
			<div id="event-item">

			</div>
			<div id="event-register">

			</div>
		</script>

		<script type="text/template" id="register-template">
			<h1>Area Registro</h1>
		</script>

		<script type="text/template" id="detalle-template">
			<div class="item-datos">
				<h1><%= name %></h1>
				<h2><%= category %></h2>
				<span><%= address %></span>
				<button class="btn btn-small">
					Atras
				</button>
			</div>
			<div class="item-img">
            	<img class="js-poster-image js-d-retina" src="{% static '/static/img/rocka.png' %}" alt="event logo" itemprop="image" dorsal-guid="89949f2f-660b-0685-4739-3249a4f63389" data-xd-wired="retina">
        	</div>
		</script>

		<script type="text/template" id="static-template">
			<div class="event-poster__decoration" style="background-color: rgb(234, 100, 29);"></div>
        	<div class="event-poster__header">

        		<!-- <div class="event-poster__date">
            		Ingresar ->
        		</div> -->
        		<div class="event-poster__logo img-90 js-xd-background" style="background-color: rgb(234, 100, 29);">
                	<img class="js-poster-image js-d-retina" src="{% static '/static/img/rocka.png' %}" alt="event logo" itemprop="image" dorsal-guid="89949f2f-660b-0685-4739-3249a4f63389" data-xd-wired="retina">
            	</div>
        	</div>
        	<div class="event-poster__description">
                <h4 id="item-name" class="event-poster__title">
					<%= name %>
                </h4>

        		<ul class="event-poster__info">
	                <li>
	                    <span class="text--truncated">
	                        <%= category %>
	                    </span>
	                </li>
	                <li>
	                    <span class="text--truncated">
	                        <%= address %>
	                </li>
	            </ul>
	        </div>
		</script>

		<script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/vendor/json2.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/vendor/underscore.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/vendor/backbone.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/vendor/backbone.marionette.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/entities/evento.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/apps/eventos/eventos_app.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/apps/eventos/list/list_controller.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/apps/eventos/list/list_view.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/apps/eventos/show/show_view.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/apps/eventos/show/show_controller.js' %}"></script>

		<script type="text/javascript">
			EventManager.start();
		</script>
	</body>
</html>